.city{
  padding-top: 10px;
  width: 180px;
  text-align:center;
  display: inline-block;
}
.city__weather{
  font-size: 130px;
  text-align:center;
  display: inline-block;
}
.city__temp{
  font-size: 30px;
  text-align: center;
  display: inline-block;
}
